@font-face {
    font-family: 'hooge06_65Regular';
    src: url('hooge0665.eot');
    src: url('hooge0665.eot') format('embedded-opentype'),
         url('hooge0665.woff') format('woff'),
         url('hooge0665.ttf') format('truetype'),
         url('hooge0665.svg#hooge06_65Regular') format('svg');
}
