@font-face {
    font-family: 'hooge06_55Regular';
    src: url('hooge0655.eot');
    src: url('hooge0655.eot') format('embedded-opentype'),
         url('hooge0655.woff') format('woff'),
         url('hooge0655.ttf') format('truetype'),
         url('hooge0655.svg#hooge06_55Regular') format('svg');
}
