@font-face {
    font-family: 'hooge05_56Regular';
    src: url('hooge0556.eot');
    src: url('hooge0556.eot') format('embedded-opentype'),
         url('hooge0556.woff') format('woff'),
         url('hooge0556.ttf') format('truetype'),
         url('hooge0556.svg#hooge05_56Regular') format('svg');
}
