@font-face {
  font-family: 'hooge0665';
  src: url('../fonts/hooge0665.eot');
  src: url('../fonts/hooge0665.eot?#iefix') format('embedded-opentype'), url('../fonts/hooge0665.woff') format('woff'), url('../fonts/hooge0665.ttf') format('truetype'), url('../fonts/hooge0665.svg#sf_comic_script_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hooge0655';
  src: url('../fonts/hooge0655.eot');
  src: url('../fonts/hooge0655.eot?#iefix') format('embedded-opentype'), url('../fonts/hooge0655.woff') format('woff'), url('../fonts/hooge0655.ttf') format('truetype'), url('../fonts/hooge0655.svg#sf_comic_script_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
