.font-face(@font, @name){
	@font-face {
		font-family: @font;
		src: url('../fonts/@{font}.eot');
		src: url('../fonts/@{font}.eot?#iefix') format('embedded-opentype'),
		url('../fonts/@{font}.woff') format('woff'),
		url('../fonts/@{font}.ttf') format('truetype'),
		url('../fonts/@{font}.svg#sf_comic_script_condensedRg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

.font-face('hooge0665', 'hooge0665');
.font-face('hooge0655', 'hooge0655');
//.font-face('prostoone-regular');

