/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'hooge0665';
  src: url('../fonts/hooge0665.eot');
  src: url('../fonts/hooge0665.eot?#iefix') format('embedded-opentype'), url('../fonts/hooge0665.woff') format('woff'), url('../fonts/hooge0665.ttf') format('truetype'), url('../fonts/hooge0665.svg#sf_comic_script_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hooge0655';
  src: url('../fonts/hooge0655.eot');
  src: url('../fonts/hooge0655.eot?#iefix') format('embedded-opentype'), url('../fonts/hooge0655.woff') format('woff'), url('../fonts/hooge0655.ttf') format('truetype'), url('../fonts/hooge0655.svg#sf_comic_script_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
html body {
  background-color: green;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  font-family: Arial;
}
html body [ng\:cloak],
html body [ng-cloak],
html body [data-ng-cloak],
html body [x-ng-cloak],
html body .ng-cloak,
html body .x-ng-cloak {
  display: none;
}
html body #earthContainer {
  width: 100%;
  margin: auto;
  display: block;
  position: absolute;
}
html body #mainScreen {
  width: 1024px;
  margin: auto;
  display: block;
  position: absolute;
}
html body #alphaCanvas {
  margin: auto;
  display: none;
  position: absolute;
}
html body #betaCanvas {
  margin: auto;
  display: none;
  position: absolute;
}
html body #videoContainer {
  display: none;
}
