@import "reset.less";
@import "elements.less";
@import "font.less";

//variables
@white:#FFFFFF;
@whiteTop:#FFFFFF;
@whiteBottom:#E4E4E4;

@black:#1D1E1E;
@blackTop:#3A3B3C;
@blackBottom:#1D1E1E;

@blueLightTop:#0082C0;
@blueLightBottom:#0074B9;

@blueMidTop:#07699B;
@blueMidBottom:#07699B;

@lightGrey:#dbdbdb;
@grey:#434648;
@orange:#f64325;

@featureOrange:#c3540e;
@featureGrey:#242526;
@featureLightGrey:#a4a4a4;

@toolTipBlueTop:#016799;
@toolTipBlueBottom:#00588e;

@navBarBg: #262626;
@screenBg: #e8f0ef;

@purpleMid: #D868EE;
@skyBlueMid: #7DE0EE;
@lemonMid: #EEEE6F;
@orangeMid: #EEAD34;
@grassMid: #97EE7C;
@pinkMid: #eea0aa;



html{
	
	body{
		background-color: green;
		line-height: 24px;
		-webkit-font-smoothing: antialiased;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none;
		}

		.backgroundImage(@imgName, @x:0, @y:0,@repeat:no-repeat){
			background-image:url("../images/@{imgName}");
			background-repeat:@repeat;
			background-position-x: @x;
			background-position-y: @y;
		}

		font-family: Arial;

		#earthContainer{
			width:100%;
			margin: auto;
			display: block;
			position: absolute;
		}

		#mainScreen {
			width: 1024px;
			margin: auto;
			display: block;
			position: absolute;
		}

		#alphaCanvas {
			margin: auto;
			display: none;
			position: absolute;

		}

		#betaCanvas {
			margin: auto;
			display: none;
			position: absolute;
		}

		#videoContainer {
			display: none;
		}

	}
}

